<ion-header >
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="onNewUser($event)">{{"Nuevo Usuario"}}
    <ion-icon slot="icon-only"  color="primary"  name="add-outline" aria-hidden="true"></ion-icon>
  </ion-button>
  <div class="users-panel">
    <app-user-info 
      appHighlight
      *ngFor="let user of (users.users$ | async) | favsPipe:(favs.favs$ | async)" 
      [usuario]="user"  
      (onCardClicked)="onCardClicked()" 
      (onFavClicked)="onFavClicked(user, $event)"
      (onDeleteClicked)="onDeleteClicked(user)"
      >
  </app-user-info>
  </div>
  <ion-loading [isOpen]="loading" class="custom-loading"  message="Loading..." ></ion-loading>
  
  
</ion-content>
