<ion-header >
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="onNewUser()">{{"Nuevo Usuario"}}
    <ion-icon slot="icon-only"  color="primary"  name="add-outline" aria-hidden="true"></ion-icon>
  </ion-button>
  <ion-button (click)="showFavs">{{"Lista de favoritos"}}
    <ion-icon slot="icon-only"  color="primary"  name="add-outline" aria-hidden="true"></ion-icon>
  </ion-button>

  <div class="main">
    <section>
      <main class="cards-section" *ngIf = "!loading">
        <app-user-info 
          appHighlight
          *ngFor="let user of ((users.users$ | async) | favsPipe:(favs.favs$ | async));let i = index" 
          [usuario]="user"  
          (onCardClicked)="onCardClicked(user)" 
          (onFavClicked)="onFavClicked(user.id, $event)"
          (onDeleteClicked)="onDeleteClicked(user)"
          >
        </app-user-info>
      </main>
      <app-fav-info *ngFor="let fav of favs.favs$ | async" [id]="fav.userId" (onFavBorrado)="onFavClicked(fav.userId, $event)"></app-fav-info>
    </section>
  </div>

  <ion-loading [isOpen]="loading" class="custom-loading"  message="Loading..." ></ion-loading>
  
  
</ion-content>
